ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li a
{
    display: block;
    width: 100%;
    color: black;
    background-color: blue;
}
li a:hover
{ 
    background-color: green;
    color: yellow;
}
